<div id="container">
  <div class="content">
    <app-square></app-square>
      <div class="form-background">
        <small class="sign-in-text">ADMIN SIGN IN</small>
        <form [formGroup]="loginForm" class="form">
          <div class="form-component">
            <label for="username">Admin Username</label>
            <input type="text" formControlName="accountName" id="username">
          </div>
          <div class="form-component">
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password">
          </div>
          <div class="form-button">
            <button class="button-sign-in" (click)="onSignIn()">Sign In</button>
          </div>
        </form>
      </div>
  </div>
</div>
