@import "src/style/color";

#container {
  background-image : linear-gradient($main-background, $main-background2);
}

.content{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-background {
  background-color: $login-admin-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1vw;
  color: white;
  font-family: 'M PLUS 1p', sans-serif;
  width: 35vw;
  height: 60vh;
  z-index: 2;
  position: absolute;
  right: 30vw;
  user-select: none;
}

.form-component {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
}

.form-component label {
  margin-bottom: 2vh;
  color: #C8C6C6;
  font-size: 0.8vw;
  font-family: "Helvetica";
}

.form-component input {
  background-color: $input-form-text;
  width: 20vw;
  height: 4vh;
  border: 1px solid rgba(0, 0, 0, 0.356);
  color: white;
  padding-left: 0.5vw;
}

.form-component input:focus {
  outline: none;
  border: 1px solid $input-border-focus;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-button a {
  text-decoration: none;
  color: white;
  font-size: 0.9vw;
}

.form-button a:hover {
  color: #2062FF;
}

.form-button button {
  margin-top: 4vh;
  margin-bottom: 5vh;
  width: 10vw;
  height: 4.5vh;
  background-color: #0D55FF;
  border: none;
  font-family: 'M PLUS 1p', sans-serif;
  color: white;
}

.form-button button:hover {
  background-color: #2062FF;
}

.sign-in-text {
  font-size: 2.5vw;
}
