<app-navbar></app-navbar>
<div id="container">
  <div id="component">
    <div class="community-activity-text">
      <small>Community Activity</small>
    </div>
    <div class="community-activity-text2">
      <p>Community and official content for all games and software on Steam.</p>
    </div>
  </div>
  <div class="tab-control">
    <app-tabs>
      <app-tab tabTitle="Image and Videos"><app-image-video></app-image-video></app-tab>
      <app-tab tabTitle="Reviews"><app-review></app-review></app-tab>
      <app-tab tabTitle="Discussion"><app-discussion></app-discussion></app-tab>
    </app-tabs>
  </div>
</div>
