<footer>
  <div class="footer-component">
    <div class="logo-img">
      <img src="../../assets/logo_steam.svg" alt="">
    </div>
    <div class="links">
      <div class="img-link">
        <a href="https://www.instagram.com/steam_games_official/?hl=en" target="_blank" class="instagram"><img src="assets/instagram.png" alt=""></a>
        <a href="https://www.youtube.com/user/Valve" target="_blank" class="youtube"><img src="assets/youtube.png" alt=""></a>
        <a href="https://www.facebook.com/Steam" target="_blank" class="facebook"><img src="assets/facebook.png" alt=""></a>
        <a href="https://twitter.com/steam" target="_blank" class="twitter"><img src="assets/twitter.png" alt=""></a>
        <a href="https://discord.com/invite/steam" target="_blank" class="discord"><img src="assets/discord.png" alt=""></a>
        <a href="https://www.valvesoftware.com/en/about" target="_blank" class="valve"><img src="assets/valve.png" alt=""></a>
      </div>
      <div class="text-link">
        <a href="https://www.valvesoftware.com/en/" target="_blank" class="text">Jobs</a>
        <a href="" class="line"> | </a>
        <a href="https://store.steampowered.com/digitalgiftcards/" target="_blank" class="text">Gift Cards</a>
        <a href="" class="line"> | </a>
        <a href="https://partner.steamgames.com/steamdirect" target="_blank" class="text">Steam Distribution</a>
        <a href="" class="line"> | </a>
        <a href="https://partner.steamgames.com/" target="_blank" class="text">Steamworks</a>
      </div>
    </div>
  </div>
</footer>
