<app-admin-navbar></app-admin-navbar>
<div id="container">
  <app-square></app-square>
  <div class="content">
    <div class="text-container">
      <h1>Welcome, Admin</h1>
      <h3>What exciting promo that you want to update?</h3>
    </div>
    <div class="form-container"></div>
    <form [formGroup]="updatePromoForm">
      <div class="promo-discount">
        <label for="">Promo Discount</label>
        <input class="input-text" type="text" formControlName="promoDiscount">
      </div>
      <div class="promo-duration">
        <label for="">Promo Duration</label>
        <input class="input-text" type="date" formControlName="endDate">
      </div>
      <div class="submit-button">
        <button (click)="updatePromo()">Update</button>
      </div>
    </form>
  </div>
</div>
