<header>
<nav>
  <div class="navbar-component">
    <div class="navbar-logo">
      <a href="/"><img src="../../assets/logo_steam.svg" class="logo-img"></a>
    </div>
    <div class="navbar-component1">
      <a href="">STORE</a>
      <a href="">COMMUNITY</a>
      <a href="">ABOUT</a>
      <a href="">SUPPORT</a>
    </div>
  </div>
  <div class="navbar-component2">
    <div class="install-steam">
      <a href="">Install Steam</a>
    </div>
    <div class="navbar-component3">
      <a href="/login">login</a>
      <a href=""> | </a>
      <a href="">language</a>
    </div>
  </div>
</nav>
</header>
