<header>
<nav>
  <div class="navbar-component">
    <div class="navbar-logo">
      <a href="/"><img src="../../assets/logo_steam.svg" class="logo-img"></a>
    </div>
    <div class="navbar-component1" *ngIf="user.length == 0">
      <a href="">MARKET</a>
      <a href="/community">COMMUNITY</a>
      <a href="">ABOUT</a>
      <a href="">SUPPORT</a>
    </div>
    <div class="navbar-component1" *ngIf="user.length != 0">
      <a href="/market">MARKET</a>
      <a href="/community">COMMUNITY</a>
      <a href="/chat/home">CHAT</a>
      <a href="">SUPPORT</a>
    </div>
  </div>
  <div class="navbar-component2">
    <div class="install-steam">
      <a href="">Install Steam</a>
    </div>
    <div class="navbar-component3" *ngIf="user.length == 0">
      <a href="/login">login</a>
      <a href="" class="line"> | </a>
      <a href="">language</a>
    </div>
    <div class="navbar-component-login" *ngIf="user.length != 0">
      <div class="message-steam">
        <a href=""><img src="https://store.cloudflare.steamstatic.com/public/shared/images/responsive/header_menu_notifications.png" alt=""></a>
      </div>
      <div class="wallet-acc-logout">
        <div class="acc-logout">
          <div class="account-name">
            <a href="/profile/{{user.customURL}}">{{user.displayName}}</a>
          </div>
          <div class="logout">
            <a (click)="logout()">logout</a>
          </div>
        </div>
        <div class="wallet">
          <a href="top-up/wallet">Rp.{{user.wallet}}</a>
        </div>
      </div>
      <div class="profile-pic">
        <img src="assets/{{user.profilePic}}" alt="">
      </div>
    </div>
  </div>
</nav>
</header>
