<div id="searchbar">
  <div class="container">
    <div class="your-store">
      <span>Your Store</span>
      <div class="store-content">
        <div class="content">Home</div>
        <div class="content">Preferences</div>
        <hr>
        <div class="content">Community Recommendations</div>
        <div class="content">Interactive Recommender</div>
        <div class="content">Discovery Queue</div>
        <div class="content">Popular Among Friends</div>
        <div class="content">Steam Curators</div>
        <div class="content">Recently Updated</div>
        <div class="content">Followed Games & Software</div>
        <hr>
        <div class="content-byl">Because You Love</div>
        <div class="content">2D Fighter</div>
        <div class="content">Fighting</div>
        <div class="content">Controller</div>
        <div class="content">Beat'em Up</div>
        <div class="content">4 Player Local</div>
        <hr>
        <div class="content">More Tags for You...</div>
      </div>
    </div>
      <div class="browse">
        <span>Browse</span>
        <div class="browse-content">
          <div class="content-browse">Free to Play</div>
          <div class="content-browse">Early Access</div>
          <div class="content-browse">Demos</div>
          <div class="content-browse">Controller Friendly</div>
          <div class="content-browse">For PC Cafes</div>
          <div class="content-browse">Remote Play</div>
          <hr>
          <div class="content-browse-text">Virtual Reality</div>
          <div class="content-browse">VR Games & Experiences</div>
          <div class="content-browse">VR Hardware</div>
          <hr>
          <div class="content-browse-text">Remote Play</div>
          <div class="content-browse">Mac OS X</div>
          <div class="content-browse">SteamOS + Linux</div>
          <hr>
          <div class="content-browse-text">Additional Content</div>
          <div class="content-browse">Soundtracks</div>
        </div>
      </div>
    <div class="points-shop" (click)="PointsShopPage()">
      <span>Points Shop</span>
    </div>
    <div class="news">
      <span>News</span>
    </div>
    <div class="steam-labs">
      <span>Steam Labs</span>
    </div>
  </div>
  <form action="">
    <input type="text" id="search-input" placeholder="search the store">
  </form>
</div>
