<app-navbar></app-navbar>
<main>
  <div id="container">
    <div class="header">
      <span>CHAT</span>
    </div>
    <div class="friends-container" *ngIf="user">
      <div class="friend-list" *ngFor="let u of user.friends">
        <div class="friends">
          <div class="friend">
            <span>{{u.friend.displayName}}</span>
          </div>
          <div class="chat-button">
            <button [routerLink]="['/chat/room', u.friend.id]">Chat!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
