@import "src/style/color";

#container {
  background-image : linear-gradient($main-background, $main-background2);
  height: 100vh;
}

#content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
  margin-left: 4vw;
  padding-top: 5vh;
}

#content {
  user-select: none;
  background-color: $login-admin-container;
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $input-border-focus;
  border-radius: 0.3vw;
}

.img-content {

  img {
    width: 20vw;
    height: 20vh;
  }
}

.txt-content {
  h1 {
    color: $nav-a-color;
    font-family: "Helvetica";
    font-size: 1.5vw;
  }
}

.update-button {
  height: 3.5vh;
  width: 5.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $button-color;
  border-radius: 0.2vw;

  a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-family: "Helvetica";
  }
}

.update-button:hover {
  background-color: $button-hover;
}

.delete-button {
  height: 3.5vh;
  width: 5.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 0.2vw;

  a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-family: "Helvetica";
    cursor: pointer;
  }
}

.delete-button:hover {
  background-color: $delete-button-hover;
}

#button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15vw;
  margin-top: 3vh;
}
