<app-navbar></app-navbar>
<div id="container">
  <div class="admin-option-text">
    <h1>Hello!</h1>
    <h3>What would you like to edit?</h3>
  </div>
  <div class="admin-option-content">
    <a href="/edit/profile">Edit Profile</a>
  </div>
  <div class="admin-option-content">
    <a href="/edit/avatar">Edit Avatar</a>
  </div>
  <div class="admin-option-content">
    <a href="/edit/theme">Edit Theme</a>
  </div>
  <div class="admin-option-content">
    <a href="/edit/frame">Edit Frame</a>
  </div>
  <div class="admin-option-content">
    <a href="/edit/background">Edit Background</a>
  </div>
  <div class="admin-option-content">
    <a href="/edit/badge">Edit Badge</a>
  </div>
  <div class="admin-option-content">
    <a href="/edit/mini">Edit Mini Background</a>
  </div>
</div>
