<app-admin-navbar></app-admin-navbar>
<div id="container">
  <div id="squares">
    <div class="square-container">
      <div class="square"></div>
    </div>
    <div class="square-container1">
      <div class="square1"></div>
    </div>
    <div class="square-container2">
      <div class="square2"></div>
    </div>
    <div class="square-container3">
      <div class="square"></div>
    </div>
    <div class="square-container4">
      <div class="square3"></div>
    </div>
    <div class="square-container5">
      <div class="square"></div>
    </div>
  </div>
  <div class="admin-option-text">
    <h1>Hello, Admin!</h1>
    <h3>What would you like to do today?</h3>
  </div>
  <div class="admin-option-content1">
    <a href="/admin/manage/game">Manage Game</a>
  </div>
  <div class="admin-option-content2">
    <a href="/admin/manage/promo">Manage Promo/Discount</a>
  </div>
  <div class="admin-option-content3">
    <a href="">Manage User</a>
  </div>
</div>
