$nav-color : #171A21;
$install-button-color : #5C7E10;
$nav-a-color : #B8B6B4;
$footer-color : #111923;
$main-background : #19405a;
$main-background2 : #1b2838;
$side-bar-text : #66C0F4;
$side-bar-hover : #DFE7ED;
$search-container : #377096;
$input-search : #316282;
