$nav-color: #171A21;
$install-button-color: #5C7E10;
$nav-a-color: #B8B6B4;
$footer-color: #111923;
$main-background: #19405a;
$main-background2: #1b2838;
$side-bar-text: #66C0F4;
$side-bar-hover: #DFE7ED;
$search-container: #377096;
$input-search: #316282;
$login-background: #111218;
$form-background: #343434;
$square-color: #070D27;
$admin-text-color: #070B1C;
$manage-button: #101423;
$input-color-login: #2c2c2c;
$input-form-text: #010516;
$input-border-focus: #00F2FF;
$login-admin-container: rgba(16, 20, 35, 0.7);
$button-color: #0D55FF;
$button-hover: #2062FF;
$delete-button-hover: #B31E1E;
$message-hover: #B8B6B4;
$message-background: #262625;
$dropdown-background: #C6D4Df;
$points-nav-background: #1E232E;
$points-text: #78A9E2;
$points-type: #C5CBD8;
$tab-control-background: #0D131B;
$like-dislike-background: #080809;
$like-count: #79DFF4;
$paginate-button: #66C0F4;
$paginate-button-background: #2B475E;
$card-hover: #0B1821;
$card-background: #10212D;
$discussion-background: #364D6E;
$profile-edit-hover: #3D4450;
$edit-profile-header: #015E80;
