<app-navbar></app-navbar>
<main>
  <div class="container" *ngIf="user">
    <div class="chat-room">
      <span>Me</span>
      <div class="chat">
        <span>{{this.chat}}</span>
      </div>
      <span>Friend</span>
      <div class="friend-chat">
        <span>{{this.friendChat}}</span>
      </div>
    </div>
    <div class="insert-chat">
      <div class="input">
        <textarea name="" id="" cols="30" rows="10" [(ngModel)]="insertChat"></textarea>
      </div>
      <div class="button-chat">
        <button class="submit" (click)="insertPrivateChat()">Send</button>
      </div>
  </div>
    </div>
</main>
