<div id="container">
  <div id="side-bar">
    <div class="side-bar-img">
      <a href="https://store.steampowered.com/digitalgiftcards/"><img src="../../../assets/side-bar.png" alt=""></a>
    </div>
    <div class="side-bar-text">
      <div class="gift-cards">
        <small>GIFT CARDS</small>
        <a href="">Now Available on Steam</a>
      </div>
      <div class="recommended">
        <div class="recommended-component-text">
          <small>RECOMMENDED</small>
        </div>
        <div class="recommended-component-a">
          <a href="">By Friend</a>
          <a href="">By Curators</a>
          <a href="">Tags</a>
        </div>
      </div>
      <div class="discovery-queues">
        <div class="discovery-queues-text">
          <small>DISCOVERY QUEUES</small>
        </div>
        <div class="discovery-queues-a">
          <a href="">Recommendation</a>
          <a href="">New Releases</a>
        </div>
      </div>
      <div class="browse-categories">
        <div class="browse-categories-text">
          <small>BROWSE CATEGORIES</small>
        </div>
        <div class="browse-categories-a">
          <a href="">Top Sellers</a>
          <a href="">New Releases</a>
          <a href="">Upcoming</a>
          <a href="">Specials</a>
          <a href="">Virtual Reality</a>
          <a href="">Controller Friendly</a>
        </div>
      </div>
      <div class="browse-genre">
        <div class="browse-genre-text">
          <small>BROWSE BY GENRE</small>
        </div>
        <div class="browse-genre-a">
            <a href="">Free to Play</a>
            <a href="">Early Access</a>
            <a href="">Action</a>
            <a href="">Adventure</a>
            <a href="">Casual</a>
            <a href="">Indie</a>
            <a href="">Massively Multiplayer</a>
            <a href="">Racing</a>
            <a href="">RPG</a>
            <a href="">Simulation</a>
            <a href="">Sports</a>
            <a href="">Strategys</a>
        </div>
      </div>
      <div class="recently-viewed">
        <div class="recently-viewed-text">
          <small>RECENTLY VIEWED</small>
        </div>
        <div class="recently-viewed-a">
          <a href="">Starbound</a>
        </div>
      </div>
    </div>
  </div>
</div>
