<app-admin-navbar></app-admin-navbar>
<div id="container">
  <div id="content-container">
    <div id="content" *ngFor="let g of game">
      <div class="img-content">
        <img [src]="showFile(g.id)" alt="">
      </div>
      <div class="txt-content">
        <h1>{{g.gameTitle}}</h1>
        <span>Promo : {{g.promo?.discountPromo}}</span>
      </div>
      <div id="button-container">
        <div class="add-button">
          <a href="admin/insert/promo/{{g.id}}">Add Promo!</a>
        </div>
        <div class="update-button">
          <a href="admin/update/promo/{{g.id}}">Update Promo!</a>
        </div>
        <div class="delete-button">
          <a (click)="onDelete(g.id)">Delete Promo!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="button-paginate">
    <button (click)="prevPage()"> < </button>
    <button (click)="nextPage()"> > </button>
  </div>
</div>
