@import "src/style/color";

main {
  background-color: $main-background2;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $points-type;
  font-family: "Helvetica";
}

.content {
  background-color: rgba(11, 25, 34, 0.59);
  border: 1px solid $side-bar-text;
  border-radius: 0.3vw;
  height: 20vh;
  width: 30vw;
  margin-top: 1vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  label {
    font-family: Helvetica;
    color: $points-type;
  }

  input {
    font-family: Helvetica;
  }

  input:focus {
    outline: none;
  }
}
